{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="nm">
        <h1>All Posts</h1>
        {% if user.is_authenticated %}
            <div id="new-post" class="nm">
                <h4>New Post</h4>
                <form id="new-post-form">
                    <textarea id="new-post-body" class="nm-inset"></textarea>
                    <br>
                    <input type="submit" class="submit-button" value="Post">
                </form>
            </div>
        {% endif %}
        <div id="posts-container" data-feed="{{ feed }}">
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
    <script src="https://kit.fontawesome.com/44caf01f57.js" crossorigin="anonymous"></script>
{% endblock %}