{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="nm">
        <h1>{% if feed == "following" %}Following{% elif feed %}{{ feed }}{% else %}All Posts{% endif %}</h1>
        {% if user.is_authenticated and not feed %}
            <div id="new-post" class="nm">
                <h4>New Post</h4>
                <form id="new-post-form">
                    <textarea id="new-post-body" class="nm-inset"></textarea>
                    <br>
                    <input type="submit" class="button" value="Post">
                </form>
            </div>
        {% endif %}
        {% if feed.username %}
            <div id="user-card" class="nm">
                <div id="user-posts" class="user-item">
                    <h4>Posts</h4>
                    <h5>0</h5>
                </div>
                <div id="user-followers" class="user-item">
                    <h4>Followers</h4>
                    <h5>0</h5>
                </div>
                <div id="user-following" class="user-item">
                    <h4>Following</h4>
                    <h5>0</h5>
                </div>
            </div>
            {% if request.user != feed %}
                <button id="follow-btn" class="button"">{% if feed not in request.user.following.all %}Follow{% else %}Unfollow{% endif %}</button>
            {% endif %}
        {% endif %}
        <div id="posts-container" data-feed="{{ feed }}">
            {% for post in page_obj %}
                <div class="nm" data-post-id="{{ post.id }}">
                    <h4><a href="{% url 'user' username=post.user %}">{{ post.user }}</a></h4>
                    {% if request.user == post.user %}
                        <a class="edit-btn" href="">edit</a>
                    {% endif %}
                    <p>{{ post.body }}</p>
                    <p>{{ post.timestamp }}</p>
                    <p><i class="fa-regular fa-heart"></i> {{ post.likes.count }}</p>
                </div>
            {% endfor %}
            <nav>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a href="?page=1" class="page-link">&laquo; First</a></li>
                        <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">{{ page_obj.previous_page_number }}</a></li>
                    {% endif %}

                    <li class="page-item active"><a href="?page=1" class="page-link">{{ page_obj.number }}</a></li>

                    {% if page_obj.has_next %}
                        <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">{{ page_obj.next_page_number }}</a></li>
                        <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
    <script src="https://kit.fontawesome.com/44caf01f57.js" crossorigin="anonymous"></script>
{% endblock %}